<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span routerLink="/home" class="cursor-pointer" [style.color]="(storage.isLoggedIn()) ? 'green' : 'red'" ><b>{{appName}}</b></span>
    <a *ngFor="let item of routes" routerLink="/{{item.route}}">
        {{ item.name }}
    </a>
    <ng-container *ngIf="storage.isLoggedIn()">
    </ng-container>
    <span class="example-spacer"></span>
    <ng-container *ngIf="storage.isLoggedIn();else notLogged">
        <span><b>{{storage.getUser().firstName}} {{storage.getUser().lastName}}</b> - <span class="">{{storage.getUser().role}}</span></span>
        <button mat-icon-button color="warn" (click)="auth.logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </ng-container>
    <ng-template #notLogged>
        <button mat-raised-button color="primary" type="button" routerLink="/login" [disabled]="this.router.url === '/login'">Login</button>
    </ng-template>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>