<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <mat-toolbar-row>
        <span routerLink="/home" class="cursor-pointer mr-3 font-bold text-lg"
            [style.color]="(isAuthenticated$ | async) ? 'green' : 'red'">{{appName}}</span>
        <ng-container *ngIf="(isAuthenticated$ | async)">
            <ng-container *ngFor="let item of routes">
                <ng-container *ngIf="item.roles.includes((user$ | async)?.role!)">
                    <a mat-flat-button routerLink="/{{item.route}}" routerLinkActive="bg-blue-200" class="mx-1 bg-slate-200">{{ item.name }}</a>
                </ng-container>
            </ng-container>
        </ng-container>
        <span class="example-spacer"></span>
        <ng-container *ngIf="(isAuthenticated$ | async);else notLogged">
            <div class="flex items-center gap-1"> <mat-icon class="">account_circle</mat-icon> <b>{{(user$|async)?.firstName}} {{(user$|async)?.lastName}}</b><mat-chip disableRipple>{{(user$|async)?.role}}</mat-chip></div>
            <button mat-icon-button color="warn" (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </ng-container>
        <ng-template #notLogged>
            <button mat-flat-button color="primary" type="button" routerLink="/login"
                [disabled]="this.router.url === '/login'">Login</button>
        </ng-template>
    </mat-toolbar-row>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>