<div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-6 justify-stretch">
    <ng-container *ngFor="let table of (tables$ | async); trackBy: trackById">
        <!-- <div [ngClass]="{'bg-orange-950': !table.reserved?.status}"> -->
        <mat-card class="h-fit">
            <mat-card-header class="flex justify-between">
                <mat-card-title class="text-xl">Tavolo <span
                        class="font-bold">{{table.tableNumber}}</span></mat-card-title>
                <ng-container *ngIf="table.reserved?.status">
                    <div class="flex items-center" matTooltip="Riservato da: {{table.reserved?.reservedBy}}">
                        <span class="pr-1 font-light">{{table.reserved?.reservedTime | date}}</span><mat-icon>lock_clock</mat-icon>
                    </div>
                </ng-container>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <div class="flex flex-wrap justify-start py-2">
                    <ng-container [ngSwitch]="table.reserved?.status">
                        <ng-container *ngSwitchCase="true">
                            <ng-container *ngFor="let index of [].constructor(table.reserved?.reservedSeats)">
                                <mat-icon class="text-amber-600">circle</mat-icon>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <ng-container *ngFor="let index of [].constructor(table.seatsOccupied)">
                                <mat-icon class="text-red-600">circle</mat-icon>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let index of [].constructor(table.maxSeats! - ((!table.reserved?.status) ? table.seatsOccupied : table.reserved?.reservedSeats)!)">
                        <mat-icon class="text-green-600">circle
                        </mat-icon>
                    </ng-container>
                </div>
                <p class="text-sm">Posti {{(!table.reserved?.status) ? 'occupati: '+table.seatsOccupied : 'riservati: ' + table.reserved?.reservedSeats}}/{{table.maxSeats}}</p>
                <p>Coperto: <span [style.color]="(table.cover) ? 'green' : 'red'">{{table.cover}}</span></p>
                <mat-expansion-panel class="shadow my-2" [disabled]="table.queue?.length === 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p><span class="font-bold">{{getOrdersNumber(table)}}</span> piatti in coda</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list *ngFor="let order of table.queue">
                        <p [ngClass]="{'line-through': order.completed}">
                            {{order.menu.name}}
                        </p>
                    </mat-list>
                </mat-expansion-panel>
            </mat-card-content>
            <mat-card-actions class="px-4 pb-3 justify-between">
            <ng-container *ngIf="table.seatsOccupied! > 0;else notOccupied">
                    <button mat-stroked-button color="primary" disabled>Prenota
                        <mat-icon>lock_clock</mat-icon></button>
                    <button mat-flat-button color="warn" (click)="openNewOrderDialog(table._id!)">Nuovo ordine</button>
            </ng-container>
            <ng-template #notOccupied>
                <ng-container *ngIf="table.reserved?.status;else notReserved">
                        <button (click)="removeReserved(table._id!)" mat-stroked-button color="warn">Rimuovi
                            <mat-icon>lock_reset</mat-icon></button>
                            <button mat-flat-button color="primary" disabled>Occupa</button>
                    </ng-container>
                    <ng-template #notReserved>
                        <button (click)="reserve(table)" mat-stroked-button color="primary">Prenota
                            <mat-icon>lock_clock</mat-icon></button>
                            <button mat-flat-button color="primary" (click)="openSeatsDialog(table)">Occupa</button>
                        </ng-template>
                    </ng-template>
                </mat-card-actions>
        </mat-card>
        <!-- </div> -->
    </ng-container>
</div>
<!-- Cards with media area -->