<ng-container *ngIf="queues.length === 0; else queuesNotEmpty">
    <p class="text-4xl text-center py-10 text-white">
        Nessun ordine...
    </p>
</ng-container>
<ng-template #queuesNotEmpty>
    <div class="flex flex-row flex-wrap gap-4">
        <ng-container *ngFor="let queue of queues; let i = index">
            <mat-card class="z-{{i}} h-fit w-56" cdkDrag>
                <mat-card-header>
                    <mat-card-title>Tavolo N. {{queue._id}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngFor="let order of queue.orders">
                        <div class="flex items-center">
                            <mat-checkbox [checked]="order.completed" color="accent"
                                (change)="checkboxOnClick(order._id, $event.checked)">
                                <p class="font-medium">{{order.menu.name}}</p>
                                <p class="font-light text-xs text-start">ordinazione: {{order.createdAt| date:'HH:mm'}}
                                </p>
                            </mat-checkbox>
                        </div>
                        <mat-divider class="m-2"></mat-divider>
                    </ng-container>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="warn" (click)="removeCompleted(i)">Rimuovi</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </div>
</ng-template>