<div matDialogTitle class="font-bold text-xl">Nuova password</div>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div matDialogContent class="p-4">
        <ng-container *ngFor="let form of passwordForm">
            <div class="flex gap-3">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>{{form.label}}</mat-label>
                    <input matInput type="password" [type]="form.hide ? 'password' : 'text'" [formControlName]="form.formValue">
                    <button type="button" mat-icon-button matSuffix (click)="form.hide = !form.hide">
                        <mat-icon>{{form.hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </ng-container>
    </div>
    <div mat-dialog-actions class="px-4 pb-4 py-0">
        <button mat-flat-button matDialogClose color="warn">Annulla</button>
        <button mat-stroked-button type="submit" [disabled]="!changePasswordForm.valid"
            color="primary">Conferma</button>
    </div>
</form>