<!-- <mat-sidenav-container autosize>
  <mat-sidenav opened mode="side">
    <mat-nav-list>
      <a mat-list-item>Utenti</a>
      <a mat-list-item>Tavoli</a>
    </mat-nav-list>
    <mat-sidenav-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laborum iusto quae quibusdam, nesciunt itaque quaerat, veritatis ex quia nihil expedita iure incidunt perferendis sequi quidem corrupti officia beatae cumque.</p>
    </mat-sidenav-content>
  </mat-sidenav>
</mat-sidenav-container> -->
<mat-card>
  <mat-drawer-container autosize class="bg-transparent">
    <mat-drawer #drawer opened mode="side" class="text-center">
      <mat-nav-list class="py-0">
        <mat-divider></mat-divider>
        <ng-container *ngFor="let route of routes">
          <a mat-list-item class="px-8 py-2" [routerLink]="[route.path]"
            routerLinkActive="bg-neutral-300">{{route.name}}</a>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-nav-list>
    </mat-drawer>

    <div>
      <ng-container [ngSwitch]="opened">
        <span *ngSwitchCase="true">
          <button type="button" mat-button (click)="drawer.toggle(); opened = !opened">
            Chiudi sidebar
            <mat-icon>keyboard_double_arrow_left</mat-icon>
          </button>
        </span>
        <span *ngSwitchCase="false">
          <button type="button" mat-button (click)="drawer.toggle(); opened = !opened">
            Apri sidebar
            <mat-icon>keyboard_double_arrow_right</mat-icon>
          </button>
        </span>
      </ng-container>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</mat-card>