<div matDialogTitle class="font-bold text-xl">Modifica tavolo N° {{data.tableNumber}}</div>
<form [formGroup]="editTableForm" (ngSubmit)="onSubmit()" >
    <div matDialogContent class="p-4">
        <div class="flex gap-3 items-center">
            <mat-form-field appearance="outline">
                <mat-label>Tavolo N°</mat-label>
                <input matInput type="number" placeholder="N." formControlName="tableNumber">
            </mat-form-field>
            <mat-checkbox labelPosition="before" color="primary" class="pb-6" formControlName="isCovered">Coperto</mat-checkbox>
        </div>
        <div class="flex gap-3">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Posti a sedere</mat-label>
                <input matInput type="number" placeholder="1" formControlName="maxSeats">
            </mat-form-field>
        </div>
        <div formGroupName="reserved">
            <div class="flex gap-3 items-center">
                <mat-checkbox labelPosition="before" color="primary" class="pb-3 pl-3" formControlName="status">Riservato</mat-checkbox>
            </div>
            <div class="border-2 rounded-md border-slate-200">
                <div class="m-3">
                    <div class="flex gap-3">
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Riservato da</mat-label>
                                <input matInput type="text" formControlName="reservedBy">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Orario prenotazione</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="reservedTime">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="flex gap-3 flex-col px-2">
                        <mat-label>Posti riservati: <b>{{slider.value}}</b></mat-label>
                        <mat-slider [max]="data.maxSeats" [min]="1" [step]="1" [discrete]="true" [showTickMarks]="true">
                            <input matSliderThumb formControlName="reservedSeats" #slider>
                        </mat-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="px-4 pb-4 py-0">
        <button mat-flat-button matDialogClose color="warn">Annulla</button>
        <button mat-stroked-button matDialogClose type="submit" [disabled]="!editTableForm.valid" color="primary">Conferma</button>
    </div>
</form>